:root {
  --primary-color: #1f2687;
  --secondary-color: #0A2443;
  --light-color: #5EABD6;
  --dark-color: #000;
  --white-color: #fff;
  --blue-color: #0E3175;

}
body {
  color: var(--dark-color);
  line-height: 1.6;
  font-weight: 400;
  font-size: 15px;
}
.btn-gradient {
  background: linear-gradient(135deg, var(--light-color));
  color: var(--white-color);
  border: none;
  transition: all 0.4s ease;
  border-radius: 50px;
  font-weight: 700;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.6);
  border: 1px solid var(--white-color);
}
.btn-gradient:hover {
  background: linear-gradient(135deg, var(--light-color));
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.7);
  transform: translateY(-2px);
  color: var(--white-color);
}
